<!DOCTYPE html>
<html>
<head>
    <title>Teacher Login</title>
</head>

<body>

    <h1>Teacher Login</h1>

    {% if form.non_field_errors %}
        <div style="color: red;">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Login
        </button>

    </form>

    <p>
        Don't have a teacher account?
        <a href="{% url 'teacher_register' %}">
            Register here
        </a>
    </p>

</body>
</html>